* {
  box-sizing: border-box;
}

body {
  font: 'Verdana';
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #052158, #18498d, #275fa4);
  color: white;
  letter-spacing: 0.05em;
}

.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 50%;
}

.choice-buttons {
  height: 125px;
  width: 50%;
  flex-grow: 2;
  flex-basis: 33%;
  margin: 5px 5px 0 5px;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app form {
  display: flex;
  flex-direction: column;
  margin: 0 30%;
}

#app > #result {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

#jetblue-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

#logo {
  flex: 0 1 auto;
  max-height: 400px;
  width: auto;
  align-self: center;
}

form > * {
  margin: 10px;
}

button {
  background-color: #00aaaa;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  letter-spacing: 0.3em;
  transition: background-color 0.5s ease;
}

button:disabled {
  background-color: #333333;
}

img {
  height: 200px;
  width: 200px;
}

input[type='radio'] {
  margin-right: 1em;
}

.twitter-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #eee;
  width: 100%;
  height: 500px;
}

.twitter-widget h4 {
  color: #383838;
  margin: 30px 0 25px 0;
}

/* Mobile Views */
@media only screen and (max-width: 600px) {
  .choices-container {
    width: 100%;
    height: 100%;
  }
}
